<!DOCTYPE html>
<html>
  <head>
    <title>WeAreWads</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% if Rails.env.development? %>
      <%= javascript_include_tag "hotwire-livereload", defer: true %>
    <% end %>
  </head>

  <body <%= "data-environment=#{Rails.env}" %> >
    <%= render 'layouts/utilities/tailwindcss_breakpoints' unless Rails.env.production?%>
    <%= skip_links %>

    <%= render 'layouts/header_nav' %>

    <main class="px-10 mx-auto mt-4 max-w-7xl  #{controller.controller_name}", id="main">
      <%= yield %>
  
    </main>
  </body>
</html>
