<!DOCTYPE html>
<html>
  <head>
    <title>WeAreWads</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% if Rails.env.development? %>
      <%= javascript_include_tag "hotwire-livereload", defer: true %>
    <% end %>
  </head>

  <body <%= "data-environment=#{Rails.env}" %> >
    <%= skip_links %>


    <nav>
      <ul> 
        <li> <%= link_to "Home", root_path %> </li>
        <li> <%= link_to "About Us", about_path %> </li>
        <li> <%= link_to "Contact Us", contact_path %> </li>

        <li> <%= link_to "Sign In", new_user_session_path %> </li>
        <li> <%= button_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
      </ul> 
    </nav>

    <main class="px-10 mx-auto mt-28  #{controller.controller_name}", id: "main">
      <%=  render 'layouts/utilities/tailwindcss_breakpoints' unless Rails.env.production?%>
      <%= yield %>
  
    </main>
  </body>
</html>
